			{% if destacada.position == 'left' %}
			
			<div class="columns is-align-items-flex-end is-centered reversed">
				<div class="column {{ size }}">
					<figure class="image is-pulled-right">
						<img class="imagen" src="{{ destacada.filename | relative_url  }}">
					</figure>
				</div>
				<div class="column">
					<h3 class="has-text-weight-bold">{{ destacada.title }}</h3>
					<p class="has-text-left">
						{{ destacada.texto }}
					</p>
					
				</div>
			</div>
			{% else %}
			<div class="columns is-align-items-flex-end is-centered">
				<div class="column">
					<h3 class="has-text-weight-bold">{{ destacada.title }}</h3>
					<p class="has-text-right">
						{{ destacada.texto }}
					</p>
					
				</div>
				<div class="column {{ size }}">
					<figure class="image is-pulled-left">
						<img class="imagen" src="{{ destacada.filename | relative_url  }}">
					</figure>
				</div>
			</div>
			{% endif %} <!-- destacada.position is left or right -->
