			{% if destacada.position == 'left' %}
			
			<div class="columns is-desktop is-centered reversed pt-6">
				<div class="column {{ size }}-desktop">
					<figure class="image is-pulled-right">
						<img class="imagen" src="{{ destacada.filename | relative_url  }}">
					</figure>
				</div>
				<div class="column">
					<h3 class="has-text-left-desktop has-text-weight-bold">{{ destacada.name }}</h3>
					<p class="has-text-left-desktop">
						{{ destacada.texto }}
					</p>
					
				</div>
			</div>
			{% else %}
			<div class="columns is-desktop is-centered pt-6">
				<div class="column">
					<h3 class="has-text-right-desktop has-text-weight-bold">{{ destacada.name }}</h3>
					<p class="has-text-right-desktop">
						{{ destacada.texto }}
					</p>
					
				</div>
				<div class="column {{ size }}-desktop">
					<figure class="image is-pulled-left">
						<img class="imagen" src="{{ destacada.filename | relative_url  }}">
					</figure>
				</div>
			</div>
			{% endif %} <!-- destacada.position is left or right -->
