<nav class="navbar is-white is-transparent is-fixed-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
	    <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-item zilla-slab-highlight-regular">
	      {{ site.title }}
      </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarJosefina">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarJosefina" class="navbar-menu">
    <div class="navbar-end">
      {% for item in site.data.menu %}
      <a class="navbar-item{% if page.url == item.url %} activo{% else %} navbar-item-hover{% endif %}" href="{{ item.url | prepend: site.baseurl }}">
	      {{ item.title }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>
