			{% if destacada.position == 'left' %}
			
			<div class="columns is-desktop is-align-items-flex-end is-centered reversed pt-6">
				<div class="column {{ size }}-desktop">
						{{ destacada.content }}
				</div>
				<div class="column">
					<h3 class="has-text-left has-text-weight-bold">{{ destacada.name }}</h3>
					<p class="has-text-left">
						{{ destacada.texto }}
					</p>
					
				</div>
			</div>
			{% else %}
			<div class="columns is-desktop is-align-items-flex-end is-centered pt-6">
				<div class="column">
					<h3 class="has-text-right has-text-weight-bold">{{ destacada.name }}</h3>
					<p class="has-text-right">
						{{ destacada.texto }}
					</p>
					
				</div>
				<div class="column {{ size }}-desktop">
						{{ destacada.content }}
				</div>
			</div>
			{% endif %} <!-- destacada.position is left or right -->
