$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
$bodyNewFont:  "Lora", serif;

html {
  background: $backgroundColor;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyNewFont;
  min-height: 100vh;
}

.zilla-slab-highlight-regular {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-highlight-bold {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 700;
  font-style: normal;
}

.lora-regular {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sticky {
	max-width: 40vw;
	background: white;
	border-radius: 5px;
	z-index: 1;
}

.activo {
	background-color: black !important;
	color: white;
}

.obras:last-child {
	margin-bottom: 10em;
}

@media(max-width: 770px) {
	.reversed {
		display: flex;
		flex-flow: column;
		
		:nth-child(even) {
			order: 1;
		}

		:nth-child(odd) {
			order: 2;
		}

	}
	.sticky {
		max-width: 100vw;
	}
}
