---
---

@import "base";

//.navbar-centered {
//	flex-grow: 1;
//	justify-content: center;
//}

.navbar-item-hover:hover {
	background-color: black;
	color: white;
}

.is-glass {
  backdrop-filter: blur(5px); /*this command make its blured*/
  background: rgba(0,0,0,0.25);
}

.imagen {
	max-height: 80vh;
	max-width: 80vw;
	object-fit: contain;
}
