---
layout: default
---
<main id="home_main" style="background-color: {{ page.color }};">
	<div class="section">
		<div class="container">
			{% assign obras = site.obras | reverse  %}
			{% assign primera = obras | first  %}
			{% for obra in obras %}
			{% if obra.destacada == true %}

			{% include columnas.html %}
			{% break %}
			{% endif %} <!-- if obra is destacada -->

			{% if forloop.last == true %}
			{% include columnas.html ultima="true" %}
			{% endif %} <!-- last for loop -->

			{% endfor %} <!-- for obra in obras -->
		</div>
	</div>
</main>

